* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 2;
}

form {
  margin-top: 33vh;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

#submit-button {
  user-select: none;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-image: url("./search-icon.png");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-color: transparent;
  filter: invert(1);
  transition:
    width 0.25s,
    height 0.25s,
    margin-top 0.25s,
    background-size 0.25s;
}

#submit-button:hover {
  width: 44px;
  height: 44px;
  margin-top: -2px;
  background-size: 33px 33px;
}

#search {
  user-select: none;
  width: 240px;
  height: 35px;
  background: transparent;
  border: solid white 3px;
  border-radius: 25px;
  margin-right: 15px;
  padding-left: 10px;
  color: white;
  font-size: 20px;
  transition:
    width 0.25s,
    height 0.25s,
    margin-top 0.25s,
    padding-left 0.25s,
    font-size 0.25s;
}

#search:hover {
  width: 264px;
  height: 39px;
  font-size: 22px;
  margin-top: -2px;
  padding-left: 11px;
}

#search:focus {
  outline: none;
  background: transparent;
}

#search:active {
  outline: none;
  background: transparent;
}

#temp-toggle {
  user-select: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: solid white 3px;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
  transition:
    width 0.25s,
    height 0.25s,
    font-size 0.25s,
    margin-top 0.25s;
}

#temp-toggle:hover {
  width: 44px;
  height: 44px;
  font-size: 30px;
  margin-top: 8px;
}

#weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 30px;
  opacity: 0;
  transition:
    margin-top 0.33s,
    opacity 0.33s;
}

#weather-data.fade {
  margin-top: 0px;
  opacity: 1;
}

#location {
  font-size: 35px;
  font-weight: bold;
}

#temperature {
  font-size: 60px;
  font-weight: bold;
}

#stars {
  display: block;
  width: calc((1.05 * sqrt((100vw * 100vw) + (100vh * 100vh))) * (3840 / 2160));
  height: calc(1.05 * sqrt((100vw * 100vw) + (100vh * 100vh)));
  z-index: 1;
}
